/* ! CSS Reset Section from joshwcomeau.com/css/custom-css-reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* !Start Page Styling */
/* % Color Variables */
:root {
  --platinum: #e6e6e6ff;
  --granite-gray: #656565ff;
  --eerie-black: #161616ff;
  --battleship-grey: #8c8c8cff;
  --white: #ffffffff;
  --jasmine: #fbd589ff;
}

body {
  width: 850px;
  margin: 2rem auto;
  font-family: 'Alegreya', sans-serif;
}
main {
  background-image: url('./images/spiral-galaxy.jpg');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  font-size: 30pt;
  font-weight: 700;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin-top: 1rem;
  width: 100%;
  height: 324px;
  display: flex;
  justify-content: space-around;
  background-color: var(--platinum);
}

section > .sections {
  margin-top: 1rem;
  padding-left: 1rem;
  flex-basis: 270px;
}

.sections > h3 {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 20px;
  color: var(--eerie-black);
}

.sections > p {
  font-size: 1rem;
  color: var(--granite-gray);
}

form {
  color: var(--granite-gray);
}

.button {
  background-color: var(--granite-gray);
  color: var(--white);
  width: 65pt;
  font-weight: 700;
  margin-top: 0.5rem;
  transition: font-size 0.2s ease;
}

.button:hover {
  cursor: pointer;
  color: var(--jasmine);
  font-size: 1.25rem;
}

.button:active {
  font-size: 1rem;
}
#name-field {
  width: 237px;
  border: 0;
  margin-bottom: 0.5rem;
}

#message {
  border: 0;
}
